<form id="form">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
        <input class="bg-gray-700 rounded-md w-full text-white px-3 py-3" type="text" autofocus placeholder="Job Title"
            id="jobtitle">
        <input class="bg-gray-700 rounded-md w-full text-white px-3 py-3" type="text" autofocus placeholder="Location"
            id="location">

        <input class="bg-gray-700 rounded-md w-full text-white px-3 py-3" type="text" autofocus placeholder="Industry"
            id="industry">

        <input class="bg-gray-700 rounded-md w-full text-white px-3 py-3" type="text" autofocus
            placeholder="Company Name" id="companyname">
    </div>
    <div class="mt-14 flex justify-center">
        <button
            class="w-full md:w-1/4 shadow px-12 py-4 text-base font-medium rounded-lg text-white bg-green-400 hover:bg-green-500 text-lg">
            Estimate
        </button>
    </div>
</form>